@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --event-color: #ff6a1a;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
